$blue: #1761A0;
$text: #555555;
$green: #419A1C;
$red: #840000;

@mixin f200 {
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
}
@mixin f400 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}
@mixin f500 {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
}
@mixin f700 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}
@mixin f900 {
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
}